@import url("reset.css");

.container {
    background: #F0EFEA;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background: #F0EFEA;
    box-shadow: 0px -12px 25px -20px rgba(10, 10, 10, 0.1) inset;
    height: 80px;
}

.title {
    color: #000;
    display: inline-block;
    font-size: 32px;
    font-weight: bold;
    margin: 15px 10px;
    padding: 10px;
}

.btn {
    background: #326F38;
    border: none;
    border-radius: 30px;
    box-shadow: 0px -10px 0px -4px rgba(0, 0, 0, 0.6) inset;
    color: #F7F7F7;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 4px;
    margin: 15px 80px;
    padding: 15px 60px;
}

.btn:hover {
    border-bottom: none;
    cursor: pointer;
    opacity: 0.7;
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
}

.btn-add {
    float: right;
    text-decoration: none;
}

.btn-save {
    margin: 0 0 0 auto
}

.btn-edit {
    margin: 0 10px 0 auto;
}

.btn-delete {
    background: #BC4E48;
    margin: 0 0 0 auto;
}

.contents {
    background: #F0EFEA;
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 20px;
    overflow: auto;
}

.content {
    background: #F7F7F7;
    border-radius: 12px;
    box-shadow: 5px 15px 30px -10px rgba(0, 74, 134, .1);
    color: #326F38;
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
    padding: 30px 15px;
    text-decoration: none;
}

.content:hover {
    border-bottom: none;
    opacity: 0.7;
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
}

.footer {
    background: #FFFFFF;
    height: 100px;
}

.form {
    margin: 0 auto;
    padding: 20px;
    width: 800px;
}

.form-item {
    align-items: center;
    display: flex;
    padding: 24px 0;
}

.form-item-label {
    flex: 1;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.form-item-input {
    background: #F7F7F7;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 5px 15px 30px -10px rgba(0, 74, 134, .1);
    flex: 8;
    font-size: 18px;
    height: 48px;
    margin-left: 40px;
    padding: 1rem;
}

.form-item-input:focus {
    border: 1px solid #326F38;
    outline: none;
}

.form-item-textarea {
    background: #F7F7F7;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 5px 15px 30px -10px rgba(0, 74, 134, .1);
    flex: 8;
    font-size: 18px;
    height: 216px;
    margin-left: 40px;
    padding: 1rem;
}

.form-item-textarea:focus {
    border: 1px solid #326F38;
    outline: none;
}

.disabled {
    background: #b7b7b7;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #85b58b;
    border-radius: 12px;
}
::-webkit-scrollbar-thumb {
    background: #326F38;
    border-radius: 10px;
}
