<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/style/style.css">
  <title>編集</title>
</head>
<body>
<div class="container">
  <div class="header">
    <h1 class="title">メモアプリ</h1>
  </div>
  <div class="contents">
    <div class="form">
      <form method="post" action="/memos/<%= @memo[:id] %>">
        <div class="form-item">
          <p class="form-item-label">タイトル</p>
          <input type="text" name="title" class="form-item-input" value="<%= @memo[:title] %>" tabindex="0">
        </div>
        <div class="form-item">
          <p class="form-item-label">内容</p>
          <textarea name="content" class="form-item-textarea" tabindex="0"><%= @memo[:content] %></textarea>
        </div>
        <div class="form-item">
          <button class="btn btn-save" type="submit" name="_method" value="PATCH">変更</button>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>
