  <div class="contents">
    <div class="form">
      <form method="post" action="/memos/<%= @memo[:id] %>">
        <div class="form-item">
          <p class="form-item-label">タイトル</p>
          <input type="text" name="title" class="form-item-input" value="<%= @memo[:title] %>" tabindex="0">
        </div>
        <div class="form-item">
          <p class="form-item-label">内容</p>
          <textarea name="content" class="form-item-textarea" tabindex="0"><%= @memo[:content] %></textarea>
        </div>
        <div class="form-item">
          <button class="btn btn-save" type="submit" name="_method" value="PATCH">変更</button>
        </div>
      </form>
    </div>
  </div>
