<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" defer ></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" />
  <title>Document</title>
</head>
<body>
  <form method="post" action="/memos/new">
    <div class="form-item">
      <input type="text" name="title" class="form-item__text-input" value="タイトル">
    </div>
    <div class="form-item">
      <textarea name="content" class="form-item__textarea"></textarea>
    </div>
    <div class="form-item">
      <div class="form-item__actions">
        <input type="submit" value="保存" class="form-item__action is-submit">
      </div>
    </div>
  </form>
</body>
</html>
