<div class="contents">
  <div class="form">
    <form method="post" action="/memos/new">
      <div class="form-item">
        <p class="form-item-label">タイトル</p>
        <input type="text" name="title" class="form-item-input" placeholder="タイトル">
      </div>
      <div class="form-item">
        <p class="form-item-label">内容</p>
        <textarea name="content" class="form-item-textarea" placeholder="内容"></textarea>
      </div>
      <div class="form-item">
        <button class="btn btn-save" type="submit">保存</button>
      </div>
    </form>
  </div>
</div>
