<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" defer ></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" />
  <title>Document</title>
</head>
<body>
  <h2><%= @memo[:title] %></h2>
  <p><%= @memo[:content] %></p>
      <button type="submit" onclick="location.href='/memos/<%= @memo[:id] %>/edit'">編集</button>
      <form method="post" action="/memos/<%= @memo[:id] %>">
        <button type="submit" name="_method" value="DELETE">削除</button>
      </form>
</body>
</html>
