<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" defer ></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" />
  <title>メモアプリ</title>
</head>
<body>
  <h1 class="title">メモアプリ</h1>
  <ul>
    <%= @memos.map { |memo| "<li><a href=memos/#{memo[:id]}>#{memo[:title]}</a></li>" }.join("<br>") %>
  </ul>
  <button onclick="location.href='/memos/new'">追加</button>
</body>
</html>
