<div class="contents">
  <% @memos.each do |memo| %>
    <a class="content" href="memos/<%= memo[:id] %>"><%= h memo[:title] %></a>
  <% end %>
</div>
<div class="footer">
  <a class="btn btn-add" href="/memos/new">追加</a>
</div>
